<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1 class="text-center">Death Certainity Report</h1>

    <div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Full Name</td>
      <td>{{params['FULL NAME']}}</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Email</td>
      <td>{{params['EMAIL ADDRESS']}}</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Phone Number</td>
      <td>{{params['MOBILE NUMBER']}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Age</td>
      <td>{{params['Age']}}</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>Anaemia</td>
      <td>{{params['Anaemia']}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Creatinine_Phosphokinase</td>
      <td>{{params['Creatinine_Phosphokinase']}}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Diabetes</td>
      <td>{{params['Diabetes']}}</td>
    </tr>
<tr>
      <th scope="row">8</th>
      <td>High_Blood_Pressure</td>
      <td>{{params['High_Blood_Pressure']}}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Ejection_Fraction</td>
      <td>{{params['Ejection_Fraction']}}</td>
    </tr>
<tr>
      <th scope="row">10</th>
      <td>Platelets</td>
      <td>{{params['Platelets']}}</td>
    </tr>

<tr>
      <th scope="row">11</th>
      <td>Serum_Creatinine</td>
      <td>{{params['Serum_Creatinine']}}</td>
    </tr>
<tr>
      <th scope="row">12</th>
      <td>serum_sodium</td>
      <td>{{params['serum_sodium']}}</td>
    </tr>
<tr>
<tr>
      <th scope="row">13</th>
      <td>Gender</td>
      <td>{{params['Gender']}}</td>
    </tr>
<tr>
      <th scope="row">14</th>
      <td>Smoking</td>
      <td>{{params['Smoking']}}</td>
    </tr>


  </tbody>
</table>
    </div>
<div class="container text-center">
    <h1>{{params['output']}}</h1>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>